<h1 class="head">Enter Your Grades</h1>
<br />
<br />
<form class="form-horizontal">

	<!-- Sub 0 -->
	<div class="form-group" ng-repeat="x in subject track by $index" ng-init="ids=id[$index]">
	    <label class="control-label col-xs-6 text-right" for="type">{{x}} : </label>
	    <div class="col-xs-4">
	    	<select id="type" class="form-control" ng-model="grade[$index]" >
	    		<option value="10" selected>O</option>
	    		<option value="9" >A+</option>
	    		<option value="8" >A</option>
	    		<option value="7" >B+</option>
	    		<option value="6" >B</option>
	    		<option value="5" >C</option>
	    		<option value="4" >P</option>
	    		<option value="0" >F</option>
	    	</select>
	    </div>
	    <div class="col-xs-2"></div>
	</div>
</form>

<div class="btn-cal row">
	<br />
	<a href="#/">
		<button class="btn btn-md btn-success col-xs-4">Back</button>
	</a>
	
		<button class="btn btn-md btn-warning col-xs-4 " ng-click="cal()">Calculate SGPA</button>

	<button class="btn btn-md btn-danger col-xs-4 " ng-click="reset()">Reset</button>
</div>
