<h1>Enter Your Grades</h1>
<br />
<br />
<form class="form-horizontal">

	<!-- Sub 0 -->
	<div class="form-group" ng-repeat="x in subject track by $index" ng-init="ids=id[$index]">
	    <label class="control-label col-xs-6 pull-left" for="type">{{x}} : </label>
	    <div class="col-xs-4">
	    	<select id="type" class="form-control" ng-model="grade[$index]" >
	    		<option value="10" selected>O</option>
	    		<option value="9" >A+</option>
	    		<option value="8" >A</option>
	    		<option value="7" >B+</option>
	    		<option value="6" >B</option>
	    		<option value="5" >C</option>
	    		<option value="4" >P</option>
	    		<option value="0" >F</option>
	    	</select>
	    </div>
	    <div class="col-xs-2"></div>
	</div>
</form>

<div class="btn-cal row">
	<br />
	<a href="#/">
		<button class="btn btn-lg btn-success col-xs-4">Back</button>
	</a>
	<button class="btn btn-lg btn-warning col-xs-4 " ng-click="cal()">Calculate SGPA</button>
	<button class="btn btn-lg btn-danger col-xs-4 " ng-click="reset()Ś">Reset</button>
</div>
<div class="pro-bar">
	<br />
	<br />

	<div class="col-xs-12 col-sm-12 progress-container pro-bar">
	    <div class="progress progress-striped active">
	        <div class="progress-bar progress-bar-success" style="width:0%"></div>
	    </div>
	</div>

	<br />
	<br />
	<div class="alert alert-danger alert-dismissible" role="alert" ng-if="hasBack" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Warning!</strong> You Have Back in {{backSubName}}.
	</div>
	<button class="btn btn-lg btn-warning again" ng-click="reset()">Calculate Again</button>
</div>



<style>
.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
</style>
