<!-- Developer -->
<link rel="stylesheet" href="css/blink.css" />
<link rel="stylesheet" href="css/social.css" />
<div class="text-center">
	<div class="image"></div>
</div>
<h1>Mohit Khandelwal</h1>
<h4>@mohitkh7<span id="ext" ext></span></h4>
<br />
<br />
<!-- Social Icons -->
	<!--Pulling Awesome Font -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="col-md-12">
        <ul class="social-network social-circle">
            <li><a href="http://www.facebook.com/mohit.khandelwal.72" class="icoFacebook" title="Facebook" target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/mohitkh7" class="icoTwitter" title="Twitter" target="blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.linkedin.com/in/mohitkh7" class="icoLinkedin" title="Linkedin" target="blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="http://www.quora.com/profile/mohit-khandelwal-31" class="icoQuora" title="Quora" target="blank"><i class="fa fa-quora"></i></a></li>
            <li><a href="http://www.github.com/mohitkh7" class="icoGithub" title="Github" target="blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://plus.google.com/u/0/+mohitkh7" class="icoGoogle" title="Google +" target="blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>				
	</div>

<!-- Social Icons Over -->

<style>
.image{
  width: 150px;
  height: 150px;
  border-radius: 50%; /*don't forget prefixes*/
  background-image: url("images/me.jpg");
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
  margin: auto;
  box-shadow: 10px 10px 50px #888888;
}

h1,h4{
	color:#fff;
	font-family: "century gothic";
}
</style>

